
input,select,textarea{font-size:16px;text-transform:uppercase}
.context{display:flex;gap:10px;align-items:center}
.row3{display:grid;grid-template-columns:80px 40px 1fr;gap:10px}
.row2{display:grid;grid-template-columns:1fr 1fr;gap:10px}
.card{padding:20px;border:1px solid #ccc;margin:20px}
